{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% block page_css %}
  {{ css_bundle('firefox_sticky_promo') }}
{% endblock %}

<aside class="mzp-c-sticky-promo mzp-t-product-firefox mzp-t-dark">
  <button class="mzp-c-sticky-promo-close" type="button">{{ ftl('ui-close') }}</button>
  <div class="promo-firefox">
    <h3 class="mzp-c-sticky-promo-title">{{ ftl('firefox-sticky-promo-get-the-latest-firefox') }}</h3>
    <a class="mzp-c-button mzp-t-product mzp-t-small" href="#">{{ ftl('download-button-download-now') }}</a>
  </div>
  <div class="promo-products">
    <h3 class="mzp-c-sticky-promo-title">{{ ftl('firefox-sticky-promo-meet-our-family-of') }}</h3>
  </div>
</aside>
